# ape
.build/

# silverback
.silverback-*/

# python
.env
.venv
.pytest_cache
__pycache__
.hypothesis/

# dev environment
.vscode
.claude

.DS_Store

out/

migration_history/dev

.hypothesis/

migration_history/*/dev
