titanoboa==0.2.7
vyper==0.4.3
rlp~=4.0.1
ipython
dotenv
pytest==8.4.2
requests==2.33.0
urllib3==2.7.0
idna==3.15
python-dotenv==1.2.2
cbor2==5.9.0
wheel==0.46.2
click==8.3.3
Pygments==2.20.0
pymdown-extensions==10.21.3
